<html>
<body>
<h2>Email Alerts</h2>

<p>User Email: <%= @user.first_name %></p>
<p>Ride Offered: <%= @ride_source %> to <%= @ride_destination %></p>
<p>Date of Departure: <%= @ride.departure_date %> </p>
<P>Available Seats: <%= @ride.number_of_seats %></P>

</body>
</html>