<div class="col-md-5 col-xs-9">
  <label for="exampleInputEmail25" class="choose-car">Choose car</label>
  <%# if cars.present? %>
  <%#=ride_form.hidden_field :car_id, id: 'id_car' %>
  <select name="ride_car" class="selectpicker <%= show_car_picker(current_user) %>" id="car_picker">
    <% cars.each do |car| %>
    <option data-id= '<%= car.id%>' value="<%= car.id %>" data-content='
      <span class="select-image">
      <% if car.car_image.present? %>
      <%= image_tag car.car_image %>
      <% else %>
      <%= image_tag 'posting_ride/car_icon.png'%>
      <% end %>
      </span>  
      <span style="display:inline-block; width:100px;"><%= car.car_name %></span>'>
      <%= car.car_name %>
    </option>
    <% end %>
  </select>
  <% unless cars.present? %>
  <div class="form-group">
    <%#= ride_form.label :car_id, "Your car:", class: "col-sm-6 control-label" %>
    <div class="col-sm-4">
      <%#= ride_form.hidden_field :car_id, value: 0 %>
      <%#= link_to "Add Car", photo_profile_index_path, class: "btn btn-primary" %>
      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#add_your_car">Add Car</a>
    </div>
  </div>
  <% end %>
</div>