<% final_dest = locations[1] %>
<div class="col-md-10 col-sm-10 col-xs-12 p0">
  <ul class="experiences estimate-time">
    <li class="green steps">
      <div class=" ">
        <div class="col-md-3 col-sm-3 col-xs-4"><span id="schedule_start_location" class="start_place"><%= locations.first %></span></div>

        <div class="col-sm-9 col-xs-8 p0">
          <div class="col-sm-5 col-xs-12 pr0">
            <div class="form-group">
              <div class='input-group date' id='datetimepicker3'>
                <span class="glyphicon glyphicon-calendar date-icon" aria-hidden="true"></span>
                <input type='text' class="form-control time_class date_picker_rails" id="date_picker-departtime" data-provide="datepicker"required="true" />
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-6">
            <div class="form-group">
              <div class='input-group date' id='datetimepicker3'>
                <!-- <input type='text' class="form-control schedule_field" id="time_picker" data-time-format="H:i:s" required="true" /> -->
                <span class="glyphicon glyphicon-time date-icon"></span>
                <input type="text" class="form-control time_picker time_class" id="time_picker-departtime" required="true"  data-time-format="H:i:s"/>
              </div>
            </div>
          </div>
          <!-- <div class="time-wrapper">
            <div class="col-sm-1 col-xs-1">
              <a class="am active" href="#">AM</a>
            </div>
            <div class="col-sm-1 col-xs-1">
              <a class="am" href="#">PM</a>
            </div>
          </div> -->
        </div>


      </div>
    </li>
    <li class="nested">
      <ul id="via_locations">
        <% @index = 0 %>
        <% locations.drop(2).each do |location|%>
        <!-- <li class="date_edit">
            <%#= render 'rides/edit_ride_posting_date' %>
          </li> -->

        <li class="yellow">
          <div class="col-md-3 col-sm-3 col-xs-4"><%= location %></div>
          <div class="col-md-9 col-sm-9 col-xs-8 pr0">
            <div class="edit-time">
              <h3>Estimate arrival <span id="eta_holder<%= @index %>"> N/A </span></h3>
             <!--  <a href="javascript:void(0);" class="edit" id="time_edit-<%= @index %>">Edit</a> -->
               <a role="button" id="time_edit-<%= @index %>" data-toggle="collapse" data-parent="#accordion" href="#eta_div<%= @index%>" aria-expanded="false" aria-controls="collapseOne" class="collapsed edit">
              Edit
            </a>
            </div>
          </div>
          <%# @index = locations.index(location) %>
         
        </li>

        <div class="clearfix"></div>
         <div class=" edit_ride panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div id="eta_div<%= @index%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
           <%= render 'rides/edit_ride_posting_date' %>
          </div>
        </div>
      </div>
      
      
    </div>
          <% @index = @index +1  %>

        <% end %> 
    </li>
           
    </ul>
    <li class="nested yellow steps">
      <div class="col-md-3 col-sm-6 col-xs-4"><span id="schedule_end_location" class="end_place"><%= final_dest %></span></div>
      <div class="col-md-9 col-sm-9 col-xs-8 pr0">
        <div class="edit-time">
          <% @index = locations.drop(1).size - 1 %>
          <h3>Estimate arrival at <span id="eta_holder<%= @index %>"> N/A</span> </h3>
          <a href="javascript:void(0);" class="edit edit_eta" id="time_edit-<%= @index%>">Edit</a>
            <!-- <a role="button" id="time_edit-<%= @index %>" data-toggle="collapse" data-parent="#accordion" href="#eta_div<%= @index%>" aria-expanded="false" aria-controls="collapseOne" class="collapsed edit edit_eta">
              Edit </a>  -->
        </div>
      </div>
      <%= render 'rides/edit_ride_posting_date' %>
      <div class="clearfix"></div>
    </li><div class="clearfix"></div>
   <!--   <li class="date_edit">
      <%#= render 'rides/edit_ride_posting_date' %>
    </li> -->
  </ul>
</div>
