<%= hidden_field_tag "active-side-nav-link", "password" %>

 <div class="panel panel-default">
  <div class="panel-heading">Change Password 
  </div>


  <div class="panel-body ">
  

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form' }) do |f| %>
    <div class="col-md-12 m-15">
      <p> If you have forgotten your password you can get temperary one sent to <%= current_user.email %> by clicking - <a href="#">Forgot my password</a></p>
      <div class="row">
        <div class="col-md-6 mt24">

    
          <div class="form-group">    
            <label for="exampleInputEmail1">You must enter your correct password</label>
            <%= f.password_field :current_password, class: 'form-control' , :placeholder => "Old Password"%>
              <%= handle_error_text(resource, :current_password) %>
<!--             <input type="text" placeholder="Old Password" id="exampleInputEmail1" class="form-control">
 -->          </div>
           

        </div>
          <div class="form-group">
            <label for="exampleInputEmail2">New Password</label>
               <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' , :placeholder => "New Password"%>
                <%= handle_error_text(resource, :password) %>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail3">Confirm Password</label>
             <%= f.password_field :password_confirmation, class: 'form-control' , :placeholder => "Confirm Password"  %>
          <%= handle_error_text(resource, :password_confirmation) %>       
         </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 btn_block text-center btn_change">
        <%= f.submit 'CHANGE', class: "btn-danger pull-right b_25 color btn_offer btn  btn-sm  navbar_ride_btn" %>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>