<!-- Load the Facebook JavaScript SDK -->  
    <div id="fb-root"></div>
    <script src="//connect.facebook.net/en_US/all.js"></script>    
    <script type="text/javascript">
   // $(document).ready(function(){
      
      // Initialize the Facebook JavaScript SDK
      FB.init({
        appId: '562756200542819',
        xfbml: true,
        status: true,
        cookie: true,
      });
      
      // Check if the current user is logged in and has authorized the app
      //FB.getLoginStatus(checkLoginStatus);      
      // Login in the current user via Facebook and ask for email permission
      function authUser() {
        FB.login(checkLoginStatus, {scope:'email'});
      }     
      // Check the result of the user status and display login button if necessary
      function checkLoginStatus(response) {
        if(response && response.status == 'connected') {
                  
           var uid = response.authResponse.userID;
           var accessToken = response.authResponse.accessToken;  
           $.ajax({
            type: 'POST',        
            data: {fb_id:uid},
            url: '/users/verify_uid',
            success: function(data) {
          //    console.log(data.success);
              FB.api('/me', function(response) {                        
           //   console.log(response);
              if(data.success==true)
              {
                alert('User is authorized');
                var elem = document.getElementById("exampleInputEmail1");
                elem.value = response.first_name;
                elem = document.getElementById("exampleInputEmail2");
                elem.value = response.last_name;
                elem = document.getElementById("verified_email");
                elem.value = response.email;
              }
              if(data.success==false)
              {
                alert('face book user is already linked');      
              }

              });

            },
            error: function(){
           //   console.log('error!');
            }
        });

       
          // Hide the login button
         // document.getElementById('loginButton').style.display = 'none';
          
          // Now Personalize the User Experience
          // console.log('User ID: ' + uid);
          // console.log('Access Token: ' + accessToken);

        } else if (response.status === 'not_authorized') {

            alert('User logged into Facebook, but not your app');

      // The person is logged into Facebook, but not your app.
           // document.getElementById('status').innerHTML = 'Please log ' +
            //  'into this app.';
          
          } else {

            alert('User not logged into Facebook, no on app');

            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
           // document.getElementById('status').innerHTML = 'Please log ' +
            //  'into Facebook.';
          
          }
      }



      // function sendCode() {

      //   $.ajax({
      //       type: 'GET',        
      //       url: '/driver_verifications/email_token_generator',
      //       success: function(data) {
      //         console.log('success!');
      //         console.log(data.success);              
      //       },
      //       error: function(){
      //         console.log('error!');
      //       }
      //   });
      
       function sendCode() {
        var mail = document.getElementById("email_code_send").value;
        $.ajax({
          type: 'GET',
          data: {fb_email:mail},       
            url: '/driver_verifications/email_token_generator',
            success: function(data) {
            //  console.log('success!');
            //  console.log(data.success);              
            },
            error: function(){
            //  console.log('error!');
            }
        });



      }

//});
    </script>
    

<div class="container driver_details ">
<div id="rootwizard">
<% @step = 1 %>
<%= render 'driver_verifications/partials/wizard_nav', step: @step%>
<div class="form_area">
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="title_msg text-center">
        your data is safely encrypted and transferred via 256-bit security.
      </div>
      <%= form_for @verify, url: verify_profile_driver_verification_path(@user) do |f|%>
      <div class="col-md-8 col-md-offset-2">
        <div class="">
          <div class="fascebook_btn">
            <label>Confirm your ID</label>
            <div class="input-group">
              <button type="button" id="loginButton"  onclick="authUser();" class="btn  btn-lg"><i class="fa fa-facebook"></i> CONNECT FASCEBOOK</button>
            </div>
          </div>
          <div class="row">
          <div class="col-sm-6 form_box">
            <h4></h4>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <!-- <input type="text" placeholder="" id="exampleInputEmail1" class="form-control"> -->
                <%= text_field_tag :first_name,@user.first_name,class: 'form-control', readonly: true %>
              </div>
            </form>
          </div>
          <div class="col-sm-6 form_box">
            <h4></h4>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Last Name</label>
                <!-- <input type="text" placeholder="" id="exampleInputEmail2" class="form-control"> -->
                <%= text_field_tag :last_name,@user.last_name,class: 'form-control', readonly: true %>
              </div>
            </form>
          </div>
        </div>
          <div class="col-md-12">
          <dev class="m-15">
            <div class="email">
              <div class="form-group">
                <label>Email</label>
                <div class="input-group">
                  <!-- <input type="text" class="form-control" id="verified_email" placeholder="Your current verified email address is sam@getyper.io" /> -->
                  <%= text_field_tag :email,@user.email,class: 'form-control', readonly: true %>
                </div>
              </div>
            </div>
            <div class="form-group send_code">
              <label>Email Address</label>
              <div class="input-group">
                <input type="text" class="form-control" id="email_code_send"  placeholder="john@mail.com" />
                <%#= text_field_tag :first_name,nil,class: 'form-control'%>
                <span class=" input-group-btn">
                  <button class="btn btn-default" type="button" id="send_code" onclick="sendCode();">SEND CODE</button>
                </span>
                
              </div>
            </div>
            <div class="form-group send_code">
              <label>Phone number</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="" />
                <span class=" input-group-btn">
                  <button class="btn btn-default"  type="button">SEND CODE</button>
                </span>
              </div>
            </div>
            <div class="row">
            <div class="col-sm-6 form_box">
              <h4></h4>
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email Pin</label>
                  <!-- <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your 4 digit pin"> -->
                  <%= f.text_field :email_token,class: 'form-control', placeholder: 'The pin you received in email' %>
                </div>
              </form>
            </div>
            <div class="col-sm-6 form_box">
              <h4></h4>
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Phone Pin</label>
                  <!-- <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your 4 digit pin"> -->
                  <%= f.text_field :phone_token,class: 'form-control', placeholder: 'The pin you received on phone' %>
                </div>
              </form>
            </div>
          </div>
            <!-- <a class="btn btn-large btn_next pull-right" a href="#tab2" data-toggle="tab">Continue</a>  -->
            <%= submit_tag 'Continue', class: 'btn btn-large btn_next pull-right'%>    
          </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
